# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
.idea
target
modules/**/project
project/project
project/target

# Scoverage report, which is copied out of target directory for preservation across 'clean'
**/scoverage-report